.background {
    width: 100vw;
    height: 100vh;
    background-image : url("../images/loginBack.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}



.title {
    font-size: 12vw;
    font-family: "HiraMinProN-W6";
}


.message {
    font-size: 2vw;
    opacity: 0.9;
}
