.background {
    width: 100vw;
    height: 100vh;
    background-image : url("../images/loginBackImg.jpg");
    background-size: cover;
    
}

.loginButton {
    position:  absolute; 
    top: 450px;
    left: 150px;
}

.message {
    width: 50vw;
    height: 50vh;
}