.modal {
  position: absolute;
  width: 50vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  width: 50vw;
  height: 30vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
  .modal {
    position: absolute;
    width: 100vw;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.button:hover {
  background: orange;
}
